*.pyc
*.xpr
*.xlsx
*.json
*.zip
*.p
dspace_mets/
ACCESSIONS/beal_exports
ACCESSIONS/json
EAD/json
EAD/resources
EAD/migration_stats
EAD/digital_objects
EAD/exports
EAD/eads
EAD/subjects_agents/posted_subjects.csv
MARC/CSVs
MARC/marcxml_no_ead
MARC/marcxml_no_ead_joined
MARC/marcxml_has_ead
MARC/marcxml_unknown
MARC/converted_eads
MARC/unconverted_marcxml
MARC/migration_stats
ead_verification_errors.csv
shared/CSVs
