*.pyc
*.xpr
*.xlsx
*.json
*.zip
*.p
dspace_mets/
dspace_xoai/
ACCESSIONS/beal_exports
ACCESSIONS/json
EAD/json
EAD/resources
EAD/migration_stats
EAD/digital_objects
EAD/exports
EAD/eads
EAD/final_aspace_migration_files
EAD/post_migration_eads
EAD/subjects_agents/posted_subjects.csv
EAD/subjects_agents/aspace_subjects.csv
EAD/subjects_agents/ead_unique_subjects.csv
EAD/subjects_agents/compound_agents.csv
EAD/subjects_agents/compound_agents_terms.csv
EAD/subjects_agents/text_to_authfilenumber.csv
EAD/unitdates_in_unittitles/wonky_unitdate_display_candidates.csv
MARC/CSVs
MARC/marcxml_no_ead
MARC/marcxml_no_ead_joined
MARC/marcxml_no_ead_unjoined
MARC/marcxml_has_ead
MARC/marcxml_unknown
MARC/mlibrary_exports
MARC/unconverted_marcxml
MARC/migration_stats
ead_verification_errors.csv
shared/CSVs
Original_EADs/
